.homeMainContainer {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.imgSlide {
  width: 100%;
  margin-bottom: -200px;
  z-index: -10;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.productsContainer {
  width: 100%;
  height: 80%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  .productRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-bottom: 20px; */
    padding-left: 0.4vw;
    padding-right: 0.4vw;
  }
}
